<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Midterm - NYC Login.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55A145511C8F9C4E00F2F0D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55A145651C8F9C4F00F2F0D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55A145701C8F9C4F00F2F0D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
